@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;

}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .btn-table:hover{
        color: #ffffff;
        background-color: rgb(29, 67, 140);;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}


.bluenav {
    background-color: rgb(29, 67, 140);
}

.rednav {
    background-color: rgb(203, 15, 40);
}

.navbar-nav, .pagination{
    background-color: transparent;
    border: 0px;
    width: auto;
  }

.sidetext{
    border-radius: 25px;
    background: #b5b5b5;
    padding: 20px;
}

.redes_sociais{
    margin: 20px 5px 20px 5px;
    height: 48px;
    width: 48px;
}

ul{
    color: #333;
    list-style-type: none;
    background-color: white;
    text-align: left;
    border: 1px solid black;
    width: 10%;
    padding: 0px 2px 0px 2px;
}

.profile{
    height: 320px;
    max-width: 240px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arenaprofile{
    height: 240px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profilinho{
    height: 280px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
}

.logo{
    width: 100%;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flag{
    width: 600px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-menu.bluenav .dropdown-item:hover {
    background-color: black;
    color: white;
}

.rank1{
    position: relative;
    left: 33.5%
}

.rank2{
    position: relative;
    left: 2.5%;
    top: 95px;
}

.rank3{
    position: relative;
    left: 20.5%;
    top: 160px;
}

.rank4{
    position: relative;
    left: -43.5%;
    top: 210px;
}

.rank5{
    position: relative;
    left: 6.5%;
    top: 270px;
}

@media(max-width: 1400px){
    .profilinho{
        height: 200px;
    }
    .rank1{
        top: 10px;
    }
    .rank2{
        left: 3.5%;
        top: 85px;
    }
    .rank3{
        left: 19.5%;
        top: 140px;
    }
    .rank4{
        left: -41.5%;
        top: 195px;
    }
    .rank5{
        left: 6%;
        top: 235px;
    }
}

@media(max-width: 1200px){
    .profilinho{
        height: 160px;
    }
    .rank2{
        position: relative;
        left: 3.5%;
        top: 60px;
    }
    .rank3{
        left: 20.5%;
        top: 110px;
    }
    .rank4{
        left: -39.5%;
        top: 155px;
    }
    .rank5{
        left: 7%;
        top: 195px;
    }
}

@media(max-width: 992px){
    .profilinho{
        height: 240px;
    }
    .rank1{ 
        top: 250px;
    }
    .rank2{ 
        left: -28%;
        top: 350px;
    }
    .rank3{
        left:4.5%;
        top: 420px;
    }
    .rank4{
        visibility: hidden;
    }
    .rank5{
        visibility: hidden;
    }
}

@media(max-width: 768px){
    .profilinho{
        height: 170px;
    }
    .rank1{ 
        top: 190px;
    }
    .rank2{ 
        left: -28%;
        top: 250px;
    }
    .rank3{
        left:4.5%;
        top: 300px;
    }
}